body {
    background-color: black; 
    color: white; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

header {
    background-color: #333; 
    padding: 10px 0; 
    text-align: center; 
}

nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    margin: 0; 
    padding: 0; 
}


nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-size: 18px; 
    transition: all 0.3s ease; 
}

nav ul li a:hover {
    color: #ff0000; 
    transform: scale(1.1); 
}

main {
    width: 80%; 
    margin: 20px auto; 
    text-align: center; 
}

.post {
    background-color: #444; 
    padding: 20px; 
    margin: 0 auto 20px; 
    max-width: 600px; 
    text-align: left; 
}

.post-content {
    text-align: center; 
}

.responsive-img {
    max-width: 100%;
    height: auto; 
}


.comments {
    margin-top: 20px;
    text-align: left; 
}

.comments h3 {
    font-size: 18px; 
    margin-bottom: 10px;
}

.comments ul {
    list-style: none; 
    padding: 0; 
}

.comments ul li {
    background-color: #555; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
}

.comments textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: none; 
    resize: vertical; 
}

.comments button {
    background-color: #f70800; 
    color: black; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.comments button:hover {
    background-color: #550000; 
}

/* Estilo do footer */
footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}
